In [712]:
import numpy as np 
import pandas as pd
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score

In [713]:
path = 'C:/Users/sizeq/Downloads/train (3).csv'

In [714]:
path1 = 'C:/Users/sizeq/Downloads/test (3).csv'

In [715]:
train_data = pd.read_csv(path, header = 0)

In [716]:
test_data = pd.read_csv(path1, header = 0)

In [717]:
# pre-processing

In [718]:
train_data = train_data.drop(columns = ['Name'])

In [719]:
train_data.loc[train_data['Sex'] == 'male', ['Sex']] = 0
train_data.loc[train_data['Sex'] == 'female', ['Sex']] = 1

In [720]:
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,0,35.0,0,0,373450,8.0500,NaN,S

In [721]:
train_data = train_data.drop(columns = ['Ticket'])

In [722]:
values = {'Age' : 30}
train_data = train_data.fillna(value = values)

In [723]:
train_data = train_data.drop(columns = 'Cabin')

In [724]:
path3 = 'C:/Users/sizeq/Downloads/train_label.csv'
train_label = pd.read_csv(path3, header = 0)

In [725]:
# SQC 三个存活率 C最大， Q中间， S 最后 ---S : 34%   Q:39.7%  C: 55.6%
train_data.loc[train_data['Embarked'] == 'S', ['Embarked']] = 0
train_data.loc[train_data['Embarked'] == 'C', ['Embarked']] = 2
train_data.loc[train_data['Embarked'] == 'Q', ['Embarked']] = 1

In [726]:
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500         0
1            2         1       1    1  38.0      1      0  71.2833         2
2            3         1       3    1  26.0      0      0   7.9250         0
3            4         1       1    1  35.0      1      0  53.1000         0
4            5         0       3    0  35.0      0      0   8.0500         0

In [727]:
train_data.loc[(train_data['Fare'] == 0) & (train_data['Pclass'] == 1), ['Fare']] = 86.14887441
train_data.loc[(train_data['Fare'] == 0) & (train_data['Pclass'] == 2), ['Fare']] = 21.35866124
train_data.loc[(train_data['Fare'] == 0) & (train_data['Pclass'] == 3), ['Fare']] = 13.78787495

In [728]:
train_data.sort_values(by = 'Embarked')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.0,1,0,7.2500,0
539,541,1,1,1,36.0,0,2,71.0000,0
540,542,0,3,1,9.0,4,2,31.2750,0
541,543,0,3,1,11.0,4,2,31.2750,0
542,544,1,2,0,32.0,1,0,26.0000,0
544,546,0,1,0,64.0,0,0,26.0000,0
545,547,1,2,1,19.0,1,0,26.0000,0
547,549,0,3,0,33.0,1,1,20.5250,0
548,550,1,2,0,8.0,1,1,36.7500,0
550,552,0,2,0,27.0,0,0,26.0000,0
553,555,1,3,1,22.0,0,0,7.7750,0
554,556,0,1,0,62.0,0,0,26.5500,0
557,559,1,1,1,39.0,1,1,79.6500,0
558,560,1,3,1,36.0,1,0,17.4000,0
560,562,0,3,0,40.0,0,0,7.8958,0
561,563,0,2,0,28.0,0,0,13.5000,0
562,564,0,3,0,30.0,0,0,8.0500,0
563,565,0,3,1,30.0,0,0,8.0500,0
564,566,0,3,0,24.0,2,0,24.1500,0
565,567,0,3,0,19.0,0,0,7.8958,0
537,539,0,3,0,30.0,0,0,14.5000,0
535,537,0,1,0,45.0,0,0,26.5500,0
534,536,1,2,1,7.0,0,2,26.2500,0
533,535,0,3,1,30.0,0,0,8.6625,0
502,504,0,3,1,37.0,0,0,9.5875,0
503,505,1,1,1,16.0,0,0,86.5000,0
505,507,1,2,1,33.0,0,2,26.0000,0
506,508,1,1,0,30.0,0,0,26.5500,0
507,509,0,3,0,28.0,0,0,22.5250,0
508,510,1,3,0,26.0,0,0,56.4958,0
...,...,...,...,...,...,...,...,...,...
495,497,1,1,1,54.0,1,0,78.2667,2
494,496,0,3,0,30.0,0,0,14.4583,2
492,494,0,1,0,71.0,0,0,49.5042,2
792,794,0,1,0,30.0,0,0,30.6958,2
538,540,1,1,1,22.0,0,2,49.5000,2
257,259,1,1,1,35.0,0,0,512.3292,2
761,763,1,3,0,20.0,0,0,7.2292,2
255,257,1,1,1,30.0,0,0,79.2000,2
583,585,0,3,0,30.0,0,0,8.7125,2
736,738,1,1,0,35.0,0,0,512.3292,2
582,584,0,1,0,36.0,0,0,40.1250,2
113,115,0,3,1,17.0,0,0,14.4583,2
580,582,1,1,1,39.0,1,1,110.8833,2
577,579,0,3,1,30.0,1,0,14.4583,2
741,743,1,1,1,21.0,2,2,262.3750,2
110,112,0,3,1,14.5,1,0,14.4542,2
567,569,0,3,0,30.0,0,0,7.2292,2
290,292,1,1,1,19.0,1,0,91.0792,2
239,241,0,3,1,30.0,1,0,14.4542,2
556,558,0,1,0,30.0,0,0,227.5250,2
555,557,1,1,1,48.0,1,0,39.6000,2
552,554,1,3,0,22.0,0,0,7.2250,2
549,551,1,1,0,17.0,0,2,110.8833,2
546,548,1,2,0,30.0,0,0,13.8625,2
543,545,0,1,0,50.0,1,0,106.4250,2
96,98,1,1,0,23.0,0,1,63.3583,2
95,97,0,1,0,71.0,0,0,34.6542,2
254,256,1,3,1,29.0,0,2,15.2458,2
243,245,0,3,0,30.0,0,0,7.2250,2
380,382,1,3,1,1.0,0,2,15.7417,2

In [729]:
#fit_model
from sklearn.metrics import accuracy_score

In [730]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_data,train_label, test_size = 0.30, random_state = 100)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((622, 9), (267, 9), (622, 1), (267, 1))

In [731]:
train_data = train_data.drop(columns = 'Survived')

In [732]:
train_data

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0              1       3    0  22.0      1      0    7.2500         0
1              2       1    1  38.0      1      0   71.2833         2
2              3       3    1  26.0      0      0    7.9250         0
3              4       1    1  35.0      1      0   53.1000         0
4              5       3    0  35.0      0      0    8.0500         0
5              6       3    0  30.0      0      0    8.4583         1
6              7       1    0  54.0      0      0   51.8625         0
7              8       3    0   2.0      3      1   21.0750         0
8              9       3    1  27.0      0      2   11.1333         0
9             10       2    1  14.0      1      0   30.0708         2
10            11       3    1   4.0      1      1   16.7000         0
11            12       1    1  58.0      0      0   26.5500         0
12            13       3    0  20.0      0      0    8.0500         0
13            14       3    0  39.0      1      5   31.2750         0
14            15       3    1  14.0      0      0    7.8542         0
15            16       2    1  55.0      0      0   16.0000         0
16            17       3    0   2.0      4      1   29.1250         1
17            18       2    0  30.0      0      0   13.0000         0
18            19       3    1  31.0      1      0   18.0000         0
19            20       3    1  30.0      0      0    7.2250         2
20            21       2    0  35.0      0      0   26.0000         0
21            22       2    0  34.0      0      0   13.0000         0
22            23       3    1  15.0      0      0    8.0292         1
23            24       1    0  28.0      0      0   35.5000         0
24            25       3    1   8.0      3      1   21.0750         0
25            26       3    1  38.0      1      5   31.3875         0
26            27       3    0  30.0      0      0    7.2250         2
27            28       1    0  19.0      3      2  263.0000         0
28            29       3    1  30.0      0      0    7.8792         1
29            30       3    0  30.0      0      0    7.8958         0
..           ...     ...  ...   ...    ...    ...       ...       ...
859          862       2    0  21.0      1      0   11.5000         0
860          863       1    1  48.0      0      0   25.9292         0
861          864       3    1  30.0      8      2   69.5500         0
862          865       2    0  24.0      0      0   13.0000         0
863          866       2    1  42.0      0      0   13.0000         0
864          867       2    1  27.0      1      0   13.8583         2
865          868       1    0  31.0      0      0   50.4958         0
866          869       3    0  30.0      0      0    9.5000         0
867          870       3    0   4.0      1      1   11.1333         0
868          871       3    0  26.0      0      0    7.8958         0
869          872       1    1  47.0      1      1   52.5542         0
870          873       1    0  33.0      0      0    5.0000         0
871          874       3    0  47.0      0      0    9.0000         0
872          875       2    1  28.0      1      0   24.0000         2
873          876       3    1  15.0      0      0    7.2250         2
874          877       3    0  20.0      0      0    9.8458         0
875          878       3    0  19.0      0      0    7.8958         0
876          879       3    0  30.0      0      0    7.8958         0
877          880       1    1  56.0      0      1   83.1583         2
878          881       2    1  25.0      0      1   26.0000         0
879          882       3    0  33.0      0      0    7.8958         0
880          883       3    1  22.0      0      0   10.5167         0
881          884       2    0  28.0      0      0   10.5000         0
882          885       3    0  25.0      0      0    7.0500         0
883          886       3    1  39.0      0      5   29.1250         1
884          887       2    0  27.0      0      0   13.0000         0
885          888       1    1  19.0      0      0   30.0000         0
886          889       3    1  30.0      1      2   23.4500         0
887          890       1    0  26.0      0      0   30.0000         2
888          891       3    0  32.0      0      0    7.7500         1

[889 rows x 8 columns]

In [733]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
LRmodel = LogisticRegression(solver = 'lbfgs', max_iter = 400)
LRmodel.fit(x_train, y_train)
predicted = LRmodel.predict(x_test)
print(accuracy_score(y_test, predicted))

1.0

C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [734]:
# Naive Byes
from sklearn.naive_bayes import GaussianNB

NBmodel = GaussianNB()
NBmodel.fit(x_train,y_train)
predicted= NBmodel.predict(x_test)
print('Naive Bayes',accuracy_score(y_test, predicted))

Naive Bayes 1.0

C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [735]:
# KNN
from sklearn.neighbors import KNeighborsClassifier

Kmodel = KNeighborsClassifier()
Kmodel.fit(x_train, y_train)
predicted = Kmodel.predict(x_test)
print('KNN', accuracy_score(y_test, predicted))

C:\Users\sizeq\Downloads\a\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

KNN 0.599250936329588

In [673]:
# Random Forest 
from sklearn.ensemble import RandomForestClassifier

RFmodel = RandomForestClassifier(n_estimators = 100, random_state = 100)
RFmodel.fit(x_train, y_train)
predicted = RFmodel.predict(x_test)
print('Random Forest', accuracy_score(y_test, predicted))

Random Forest 1.0

C:\Users\sizeq\Downloads\a\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [674]:
# SVM
from sklearn.svm import SVC

model_svm = SVC(gamma = 'auto')
model_svm.fit(x_train, y_train)
predicted = model_svm.predict(x_test)
print('SVM', accuracy_score(y_test, predicted))

SVM 0.602996254681648

C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [675]:
# decision tree
from sklearn.tree import DecisionTreeClassifier

model_tree = DecisionTreeClassifier()
model_tree.fit(x_train, y_train)
predicted = model_tree.predict(x_test)
print('decision tree', accuracy_score(y_test, predicted))

decision tree 1.0

In [676]:
# XGBoost
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(x_train,y_train)
xgb_predicted = xgb.predict(x_test)
print('XGBoost',accuracy_score(y_test, xgb_predicted))

XGBoost 1.0

C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [677]:
# feature scaling 效果很差  忽略

In [678]:
#Applying Grid Search to improve the accuracy

In [736]:
from sklearn.model_selection import GridSearchCV, cross_val_score

In [737]:
# 处理test data

In [738]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
1,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
2,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
3,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
4,926,1,"Mock, Mr. Philipp Edmund",male,30.0,1,0,13236,57.7500,C78,C

In [739]:
test_data = test_data.drop(columns = 'Name')

In [740]:
test_data.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,912,1,male,55.0,1,0,PC 17603,59.4000,NaN,C
1,915,1,male,21.0,0,1,PC 17597,61.3792,NaN,C
2,916,1,female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
3,918,1,female,22.0,0,1,113509,61.9792,B36,C
4,926,1,male,30.0,1,0,13236,57.7500,C78,C

In [741]:
test_data = test_data.drop(columns = 'Ticket')

In [742]:
test_data = test_data.drop(columns = 'Cabin')

In [743]:
test_data.loc[test_data['Sex'] == 'male', ['Sex']] = 0
test_data.loc[test_data['Sex'] == 'female', ['Sex']] = 1

In [744]:
test_data.sort_values(by = 'Fare')

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
86          1158       1    0   NaN      0      0    0.0000        S
99          1264       1    0  49.0      0      0    0.0000        S
283          913       3    0   9.0      0      1    3.1708        S
211         1008       3    0   NaN      0      0    6.4375        C
212         1025       3    0   NaN      1      0    6.4375        C
357         1124       3    0  21.0      1      0    6.4958        S
264         1183       3    1  30.0      0      0    6.9500        Q
334         1055       3    0   NaN      0      0    7.0000        S
276          893       3    1  47.0      1      0    7.0000        S
391         1217       3    0  23.0      0      0    7.0500        S
350         1103       3    0   NaN      0      0    7.0500        S
226         1203       3    0  22.0      0      0    7.2250        C
201          909       3    0  21.0      0      0    7.2250        C
216         1063       3    0  27.0      0      0    7.2250        C
219         1129       3    0  20.0      0      0    7.2250        C
202          911       3    1  45.0      0      0    7.2250        C
221         1166       3    0   NaN      0      0    7.2250        C
203          919       3    0  22.5      0      0    7.2250        C
213         1028       3    0  26.5      0      0    7.2250        C
228         1224       3    0   NaN      0      0    7.2250        C
205          927       3    0  18.5      0      0    7.2292        C
232         1239       3    1  38.0      0      0    7.2292        C
231         1231       3    0   NaN      0      0    7.2292        C
200          900       3    1  18.0      0      0    7.2292        C
227         1213       3    0  25.0      0      0    7.2292        C
224         1184       3    0   NaN      0      0    7.2292        C
223         1180       3    0   NaN      0      0    7.2292        C
217         1065       3    0   NaN      0      0    7.2292        C
230         1229       3    0  39.0      0      2    7.2292        C
272         1288       3    0  24.0      0      0    7.2500        Q
..           ...     ...  ...   ...    ...    ...       ...      ...
49          1263       1    1  31.0      0      0  134.5000        C
27          1088       1    0   6.0      0      2  134.5000        C
37          1134       1    0  45.0      1      1  134.5000        C
41          1206       1    1  55.0      0      0  135.6333        C
40          1164       1    1  26.0      1      0  136.7792        C
38          1144       1    0  27.0      1      0  136.7792        C
42          1208       1    0  57.0      1      0  146.5208        C
74          1033       1    1  33.0      0      0  151.5500        S
92          1198       1    0  30.0      1      2  151.5500        S
105         1292       1    1  30.0      0      0  164.8667        S
83          1109       1    0  57.0      1      1  164.8667        S
95          1216       1    1  39.0      0      0  211.3375        S
31          1110       1    1  50.0      1      1  211.5000        C
54          1299       1    0  50.0      1      1  211.5000        C
11           966       1    1  35.0      0      0  211.5000        C
12           967       1    0  32.5      0      0  211.5000        C
78          1048       1    1  29.0      0      0  221.7792        S
69           973       1    0  67.0      1      0  221.7792        S
73          1006       1    1  63.0      1      0  221.7792        S
28          1094       1    0  47.0      1      0  227.5250        C
26          1076       1    1  27.0      1      1  247.5208        C
19          1034       1    0  61.0      1      3  262.3750        C
7            951       1    1  36.0      0      0  262.3750        C
8            956       1    0  13.0      2      2  262.3750        C
50          1267       1    1  45.0      0      0  262.3750        C
2            916       1    1  48.0      1      3  262.3750        C
65           945       1    1  28.0      3      2  263.0000        S
67           961       1    1  60.0      1      4  263.0000        S
45          1235       1    1  58.0      0      1  512.3292        C
328         1044       3    0  60.5      0      0       NaN        S

[418 rows x 8 columns]

In [745]:
test_data.loc[test_data['Embarked'] == 'S', ['Embarked']] = 0
test_data.loc[test_data['Embarked'] == 'C', ['Embarked']] = 2
test_data.loc[test_data['Embarked'] == 'Q', ['Embarked']] = 1

In [746]:
test_data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0          912       1    0  55.0      1      0   59.4000         2
1          915       1    0  21.0      0      1   61.3792         2
2          916       1    1  48.0      1      3  262.3750         2
3          918       1    1  22.0      0      1   61.9792         2
4          926       1    0  30.0      1      0   57.7500         2

In [747]:
test_data.shape

(418, 8)

In [748]:
values = {'Age' : 30}
test_data = test_data.fillna(value = values)

In [749]:
test_data.sort_values(by = 'Fare')

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
86          1158       1    0  30.0      0      0    0.0000         0
99          1264       1    0  49.0      0      0    0.0000         0
283          913       3    0   9.0      0      1    3.1708         0
211         1008       3    0  30.0      0      0    6.4375         2
212         1025       3    0  30.0      1      0    6.4375         2
357         1124       3    0  21.0      1      0    6.4958         0
264         1183       3    1  30.0      0      0    6.9500         1
334         1055       3    0  30.0      0      0    7.0000         0
276          893       3    1  47.0      1      0    7.0000         0
391         1217       3    0  23.0      0      0    7.0500         0
350         1103       3    0  30.0      0      0    7.0500         0
226         1203       3    0  22.0      0      0    7.2250         2
201          909       3    0  21.0      0      0    7.2250         2
216         1063       3    0  27.0      0      0    7.2250         2
219         1129       3    0  20.0      0      0    7.2250         2
202          911       3    1  45.0      0      0    7.2250         2
221         1166       3    0  30.0      0      0    7.2250         2
203          919       3    0  22.5      0      0    7.2250         2
213         1028       3    0  26.5      0      0    7.2250         2
228         1224       3    0  30.0      0      0    7.2250         2
205          927       3    0  18.5      0      0    7.2292         2
232         1239       3    1  38.0      0      0    7.2292         2
231         1231       3    0  30.0      0      0    7.2292         2
200          900       3    1  18.0      0      0    7.2292         2
227         1213       3    0  25.0      0      0    7.2292         2
224         1184       3    0  30.0      0      0    7.2292         2
223         1180       3    0  30.0      0      0    7.2292         2
217         1065       3    0  30.0      0      0    7.2292         2
230         1229       3    0  39.0      0      2    7.2292         2
272         1288       3    0  24.0      0      0    7.2500         1
..           ...     ...  ...   ...    ...    ...       ...       ...
49          1263       1    1  31.0      0      0  134.5000         2
27          1088       1    0   6.0      0      2  134.5000         2
37          1134       1    0  45.0      1      1  134.5000         2
41          1206       1    1  55.0      0      0  135.6333         2
40          1164       1    1  26.0      1      0  136.7792         2
38          1144       1    0  27.0      1      0  136.7792         2
42          1208       1    0  57.0      1      0  146.5208         2
74          1033       1    1  33.0      0      0  151.5500         0
92          1198       1    0  30.0      1      2  151.5500         0
105         1292       1    1  30.0      0      0  164.8667         0
83          1109       1    0  57.0      1      1  164.8667         0
95          1216       1    1  39.0      0      0  211.3375         0
31          1110       1    1  50.0      1      1  211.5000         2
54          1299       1    0  50.0      1      1  211.5000         2
11           966       1    1  35.0      0      0  211.5000         2
12           967       1    0  32.5      0      0  211.5000         2
78          1048       1    1  29.0      0      0  221.7792         0
69           973       1    0  67.0      1      0  221.7792         0
73          1006       1    1  63.0      1      0  221.7792         0
28          1094       1    0  47.0      1      0  227.5250         2
26          1076       1    1  27.0      1      1  247.5208         2
19          1034       1    0  61.0      1      3  262.3750         2
7            951       1    1  36.0      0      0  262.3750         2
8            956       1    0  13.0      2      2  262.3750         2
50          1267       1    1  45.0      0      0  262.3750         2
2            916       1    1  48.0      1      3  262.3750         2
65           945       1    1  28.0      3      2  263.0000         0
67           961       1    1  60.0      1      4  263.0000         0
45          1235       1    1  58.0      0      1  512.3292         2
328         1044       3    0  60.5      0      0       NaN         0

[418 rows x 8 columns]

In [750]:
values = {'Fare' : 12.45967788}
test_data = test_data.fillna(value = values)

In [751]:

test_data.loc[(test_data['Fare'] == 0) & (test_data['Pclass'] == 1), ['Fare']] = 94.2802972
test_data.loc[(test_data['Fare'] == 0) & (test_data['Pclass'] == 2), ['Fare']] = 22.2021043
test_data.loc[(test_data['Fare'] == 0) & (test_data['Pclass'] == 3), ['Fare']] = 12.45967788

In [752]:
test_data.sort_values(by = 'Fare')

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
283          913       3    0   9.0      0      1    3.1708         0
211         1008       3    0  30.0      0      0    6.4375         2
212         1025       3    0  30.0      1      0    6.4375         2
357         1124       3    0  21.0      1      0    6.4958         0
264         1183       3    1  30.0      0      0    6.9500         1
334         1055       3    0  30.0      0      0    7.0000         0
276          893       3    1  47.0      1      0    7.0000         0
350         1103       3    0  30.0      0      0    7.0500         0
391         1217       3    0  23.0      0      0    7.0500         0
228         1224       3    0  30.0      0      0    7.2250         2
226         1203       3    0  22.0      0      0    7.2250         2
221         1166       3    0  30.0      0      0    7.2250         2
219         1129       3    0  20.0      0      0    7.2250         2
213         1028       3    0  26.5      0      0    7.2250         2
201          909       3    0  21.0      0      0    7.2250         2
202          911       3    1  45.0      0      0    7.2250         2
203          919       3    0  22.5      0      0    7.2250         2
216         1063       3    0  27.0      0      0    7.2250         2
217         1065       3    0  30.0      0      0    7.2292         2
200          900       3    1  18.0      0      0    7.2292         2
223         1180       3    0  30.0      0      0    7.2292         2
224         1184       3    0  30.0      0      0    7.2292         2
227         1213       3    0  25.0      0      0    7.2292         2
230         1229       3    0  39.0      0      2    7.2292         2
231         1231       3    0  30.0      0      0    7.2292         2
232         1239       3    1  38.0      0      0    7.2292         2
205          927       3    0  18.5      0      0    7.2292         2
272         1288       3    0  24.0      0      0    7.2500         1
416         1307       3    0  38.5      0      0    7.2500         0
315         1015       3    0  28.0      0      0    7.2500         0
..           ...     ...  ...   ...    ...    ...       ...       ...
55          1306       1    1  39.0      0      0  108.9000         2
49          1263       1    1  31.0      0      0  134.5000         2
37          1134       1    0  45.0      1      1  134.5000         2
27          1088       1    0   6.0      0      2  134.5000         2
41          1206       1    1  55.0      0      0  135.6333         2
40          1164       1    1  26.0      1      0  136.7792         2
38          1144       1    0  27.0      1      0  136.7792         2
42          1208       1    0  57.0      1      0  146.5208         2
74          1033       1    1  33.0      0      0  151.5500         0
92          1198       1    0  30.0      1      2  151.5500         0
105         1292       1    1  30.0      0      0  164.8667         0
83          1109       1    0  57.0      1      1  164.8667         0
95          1216       1    1  39.0      0      0  211.3375         0
11           966       1    1  35.0      0      0  211.5000         2
12           967       1    0  32.5      0      0  211.5000         2
31          1110       1    1  50.0      1      1  211.5000         2
54          1299       1    0  50.0      1      1  211.5000         2
78          1048       1    1  29.0      0      0  221.7792         0
69           973       1    0  67.0      1      0  221.7792         0
73          1006       1    1  63.0      1      0  221.7792         0
28          1094       1    0  47.0      1      0  227.5250         2
26          1076       1    1  27.0      1      1  247.5208         2
2            916       1    1  48.0      1      3  262.3750         2
50          1267       1    1  45.0      0      0  262.3750         2
8            956       1    0  13.0      2      2  262.3750         2
7            951       1    1  36.0      0      0  262.3750         2
19          1034       1    0  61.0      1      3  262.3750         2
67           961       1    1  60.0      1      4  263.0000         0
65           945       1    1  28.0      3      2  263.0000         0
45          1235       1    1  58.0      0      1  512.3292         2

[418 rows x 8 columns]

In [696]:
#Random Forest Classifier
rfc = RandomForestClassifier(random_state = 100)

#USING GRID SEARCH(gmm)
n_estimators = [50, 80, 100, 120, 200]
max_depth = [3,10, 30, 60, 100]
param_grid = dict(n_estimators = n_estimators, max_depth = max_depth)

grid_search_rfc = GridSearchCV(estimator = rfc, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)
grid_search_rfc.fit(train_data,np.ravel(train_label))
print(grid_search_rfc.best_score_)
rfc_best = grid_search_rfc.best_estimator_

0.8323959505061868

In [697]:
grid_search_rfc.best_params_

{'max_depth': 10, 'n_estimators': 120}

In [699]:
rfc_best.fit(train_data, np.ravel(train_label))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=120,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

In [698]:
# SVM with gmm
svc = SVC()

parameters = [{'kernel' : ['linear'], 'C' : [1, 10, 100]},
              {'kernel' : ['rbf'],'C':[1,10,100],'gamma':[0.05,0.0001,0.01,0.001]}]
grid_search_svc = GridSearchCV(estimator = svc, param_grid = parameters, scoring = 'accuracy', cv = 10, n_jobs = -1)
grid_search_svc.fit(train_data, np.ravel(train_label))
print(grid_search_svc.best_score_)

C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

0.8020247469066367

In [700]:
grid_search_svc.best_params_

{'C': 10, 'kernel': 'linear'}

In [701]:
#KNN
knn = KNeighborsClassifier()

n_neighbors = [3, 5, 7, 9, 11, 13, 15]
param_grid = dict(n_neighbors = n_neighbors)

grid_search_knn = GridSearchCV(estimator = knn, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_knn.fit(train_data, np.ravel(train_label))
print(grid_search_knn.best_score_)

0.5759280089988752

C:\Users\sizeq\Downloads\a\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [702]:
grid_search_knn.best_params_

{'n_neighbors': 15}

In [622]:
# Logistic Regression

lr = LogisticRegression()

tuned_parameters=[{'penalty':['l1','l2'],
                   'C':[0.01,0.05,0.1,0.5,1,5,10,50,100],
                    'solver':['liblinear'],
                    'multi_class':['ovr']},
                {'penalty':['l2'],
                 'C':[0.01,0.05,0.1,0.5,1,5,10,50,100],
                'solver':['lbfgs'],
                 'max_iter':[200, 300, 400, 500],
                'multi_class':['ovr','multinomial']}]

grid_search_lr = GridSearchCV(estimator = lr, param_grid = tuned_parameters, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_lr.fit(train_data, np.ravel(train_label))

print(grid_search_lr.best_score_)

0.7997750281214848

In [648]:
print(grid_search_lr.best_params_)

{'C': 0.05, 'max_iter': 300, 'multi_class': 'multinomial', 'penalty': 'l2', 'solver': 'lbfgs'}

In [592]:
# XGBoost n_estimator
xgb = XGBClassifier()

n_estimators = np.linspace(50, 150, 11, dtype=int)
param_grid = dict(n_estimators = n_estimators)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8188976377952756

In [623]:
grid_search_XG.best_params_
grid_search_XG.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, eta=0.01, gamma=0.0,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=8, missing=None, n_estimator=50,
              n_estimators=100, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=50, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [624]:
# XGBoost max_depth
xgb = XGBClassifier(n_estimator = 50)

max_depth = np.linspace(1, 10, 20, dtype=int)
param_grid = dict(max_depth = max_depth)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.81214848143982

In [625]:
grid_search_XG.best_params_

{'max_depth': 2}

In [626]:
# XGBoost min_child_weight
xgb = XGBClassifier(n_estimator = 50, max_depth = 2)

min_child_weight = np.linspace(1, 10, 10, dtype=int)
param_grid = dict(min_child_weight = min_child_weight)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8200224971878515

In [627]:
grid_search_XG.best_params_

{'min_child_weight': 8}

In [628]:
# XGBoost gamma
xgb = XGBClassifier(n_estimator = 50, max_depth = 2, min_child_weight = 8)

gamma = np.linspace(0, 0.1, 11)
param_grid = dict(gamma = gamma)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8200224971878515

In [629]:
grid_search_XG.best_params_

{'gamma': 0.0}

In [630]:
# XGBoost subsample
xgb = XGBClassifier(n_estimator = 50, max_depth = 2, min_child_weight = 8, gamma = 0.0)

subsample =  np.linspace(0.9, 1, 11)
param_grid = dict(subsample = subsample)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8200224971878515

In [631]:
grid_search_XG.best_params_

{'subsample': 1.0}

In [632]:
# XGBoost colsample_bytree
xgb = XGBClassifier(n_estimator = 50, max_depth = 2, min_child_weight = 8, gamma = 0.0, subsample = 1)

colsample_bytree =  np.linspace(0, 1, 11)[1:]
param_grid = dict(colsample_bytree = colsample_bytree)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8222722159730034

In [633]:
grid_search_XG.best_params_

{'colsample_bytree': 0.7000000000000001}

In [634]:
# XGBoost reg_lambda
xgb = XGBClassifier(n_estimator = 50, max_depth = 2, min_child_weight = 8, gamma = 0.0, subsample = 1, colsample_bytree = 0.7)

reg_lambda =  np.linspace(30, 70, 11)
param_grid = dict(reg_lambda = reg_lambda)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8222722159730034

In [635]:
grid_search_XG.best_params_

{'reg_lambda': 50.0}

In [636]:
# XGBoost reg_alpha
xgb = XGBClassifier(n_estimator = 50, max_depth = 2, min_child_weight = 8, gamma = 0.0, subsample = 1, colsample_bytree = 0.7, reg_lambda = 50)

reg_alpha =  np.linspace(0, 10, 11)
param_grid = dict(reg_alpha = reg_alpha)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8222722159730034

In [637]:
grid_search_XG.best_params_

{'reg_alpha': 0.0}

In [638]:
# XGBoost eta
xgb = XGBClassifier(n_estimator = 50, max_depth = 2, min_child_weight = 8, gamma = 0.0, subsample = 1, colsample_bytree = 0.7, reg_lambda = 50, reg_alpha = 0)

eta =  np.logspace(-2, 0, 10)
param_grid = dict(eta = eta)
grid_search_XG = GridSearchCV(estimator = xgb, param_grid = param_grid, cv = 10, scoring = 'accuracy', n_jobs = -1)

grid_search_XG.fit(train_data, np.ravel(train_label))
print(grid_search_XG.best_score_)

0.8222722159730034

In [639]:
grid_search_XG.best_params_

{'eta': 0.01}

In [640]:
xgb_best = grid_search_XG.best_estimator_

In [641]:
xgb_best

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, eta=0.01, gamma=0.0,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=8, missing=None, n_estimator=50,
              n_estimators=100, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=50, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [642]:
xgb_best.fit(train_data, np.ravel(train_label))

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, eta=0.01, gamma=0.0,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=8, missing=None, n_estimator=50,
              n_estimators=100, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=50, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [ ]:
# Decision Tree

In [704]:
model_DD = DecisionTreeClassifier()
 
max_depth = range(1,10,1)
min_samples_leaf = range(1,10,2)
tuned_parameters = dict(max_depth=max_depth, min_samples_leaf=min_samples_leaf)

In [706]:
from sklearn.model_selection import GridSearchCV
DD = GridSearchCV(model_DD, tuned_parameters,cv=10)
DD.fit(train_data, np.ravel(train_label))
 
print("Best: %f using %s" % (DD.best_score_, DD.best_params_))

Best: 0.817773 using {'max_depth': 7, 'min_samples_leaf': 5}

In [646]:
test_result = pd.DataFrame(rfc_best.predict(test_data))

In [647]:
test_result.to_csv('C:/Users/sizeq/Downloads/test_result.csv')

In [753]:
import tensorflow as tf

In [754]:
train_data.shape

(889, 8)

In [768]:
train_data_arr = train_data.values
train_label_arr = train_label.values